In [33]:
import pandas as pd

# Creating data for both Min sq ft and Max sq ft columns based on the uploaded images
data = {
    "Min sq ft": [
        0, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200, 
        2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300, 3400, 3500, 3600, 3700, 3800, 3900, 
        4000, 4100, 4200, 4300, 4400, 4500, 4600, 4700, 4800, 4900, 5000, 5500, 6000, 6500, 7000, 7500, 10000
    ],
    "Max sq ft": [
        499, 599, 699, 799, 899, 999, 1099, 1199, 1299, 1399, 1499, 1599, 1699, 1799, 1899, 1999, 2099, 2199, 2299, 
        2399, 2499, 2599, 2699, 2799, 2899, 2999, 3099, 3199, 3299, 3399, 3499, 3599, 3699, 3799, 3899, 3999, 4099, 
        4199, 4299, 4399, 4499, 4599, 4699, 4799, 4899, 4999, 5499, 5999, 6499, 6999, 7499, 9999, '>10000'
    ]
}

# Creating the dataframe
sq_ft = pd.DataFrame(data)

ones_df = pd.DataFrame(1, index=range(53), columns=['1', '1.5', '2', '2.5', '3+'])

In [34]:
other_perils = pd.concat([sq_ft, ones_df], axis=1)

other_perils.insert(0, 'Peril', 'Other Perils')
other_perils

           Peril  Min sq ft Max sq ft  1  1.5  2  2.5  3+
0   Other Perils          0       499  1    1  1    1   1
1   Other Perils        500       599  1    1  1    1   1
2   Other Perils        600       699  1    1  1    1   1
3   Other Perils        700       799  1    1  1    1   1
4   Other Perils        800       899  1    1  1    1   1
5   Other Perils        900       999  1    1  1    1   1
6   Other Perils       1000      1099  1    1  1    1   1
7   Other Perils       1100      1199  1    1  1    1   1
8   Other Perils       1200      1299  1    1  1    1   1
9   Other Perils       1300      1399  1    1  1    1   1
10  Other Perils       1400      1499  1    1  1    1   1
11  Other Perils       1500      1599  1    1  1    1   1
12  Other Perils       1600      1699  1    1  1    1   1
13  Other Perils       1700      1799  1    1  1    1   1
14  Other Perils       1800      1899  1    1  1    1   1
15  Other Perils       1900      1999  1    1  1    1   1
16  Other Perils       2000      2099  1    1  1    1   1
17  Other Perils       2100      2199  1    1  1    1   1
18  Other Perils       2200      2299  1    1  1    1   1
19  Other Perils       2300      2399  1    1  1    1   1
20  Other Perils       2400      2499  1    1  1    1   1
21  Other Perils       2500      2599  1    1  1    1   1
22  Other Perils       2600      2699  1    1  1    1   1
23  Other Perils       2700      2799  1    1  1    1   1
24  Other Perils       2800      2899  1    1  1    1   1
25  Other Perils       2900      2999  1    1  1    1   1
26  Other Perils       3000      3099  1    1  1    1   1
27  Other Perils       3100      3199  1    1  1    1   1
28  Other Perils       3200      3299  1    1  1    1   1
29  Other Perils       3300      3399  1    1  1    1   1
30  Other Perils       3400      3499  1    1  1    1   1
31  Other Perils       3500      3599  1    1  1    1   1
32  Other Perils       3600      3699  1    1  1    1   1
33  Other Perils       3700      3799  1    1  1    1   1
34  Other Perils       3800      3899  1    1  1    1   1
35  Other Perils       3900      3999  1    1  1    1   1
36  Other Perils       4000      4099  1    1  1    1   1
37  Other Perils       4100      4199  1    1  1    1   1
38  Other Perils       4200      4299  1    1  1    1   1
39  Other Perils       4300      4399  1    1  1    1   1
40  Other Perils       4400      4499  1    1  1    1   1
41  Other Perils       4500      4599  1    1  1    1   1
42  Other Perils       4600      4699  1    1  1    1   1
43  Other Perils       4700      4799  1    1  1    1   1
44  Other Perils       4800      4899  1    1  1    1   1
45  Other Perils       4900      4999  1    1  1    1   1
46  Other Perils       5000      5499  1    1  1    1   1
47  Other Perils       5500      5999  1    1  1    1   1
48  Other Perils       6000      6499  1    1  1    1   1
49  Other Perils       6500      6999  1    1  1    1   1
50  Other Perils       7000      7499  1    1  1    1   1
51  Other Perils       7500      9999  1    1  1    1   1
52  Other Perils      10000    >10000  1    1  1    1   1

In [35]:
fire = pd.concat([sq_ft, ones_df], axis=1)

fire.insert(0, 'Peril', 'Fire')
fire

   Peril  Min sq ft Max sq ft  1  1.5  2  2.5  3+
0   Fire          0       499  1    1  1    1   1
1   Fire        500       599  1    1  1    1   1
2   Fire        600       699  1    1  1    1   1
3   Fire        700       799  1    1  1    1   1
4   Fire        800       899  1    1  1    1   1
5   Fire        900       999  1    1  1    1   1
6   Fire       1000      1099  1    1  1    1   1
7   Fire       1100      1199  1    1  1    1   1
8   Fire       1200      1299  1    1  1    1   1
9   Fire       1300      1399  1    1  1    1   1
10  Fire       1400      1499  1    1  1    1   1
11  Fire       1500      1599  1    1  1    1   1
12  Fire       1600      1699  1    1  1    1   1
13  Fire       1700      1799  1    1  1    1   1
14  Fire       1800      1899  1    1  1    1   1
15  Fire       1900      1999  1    1  1    1   1
16  Fire       2000      2099  1    1  1    1   1
17  Fire       2100      2199  1    1  1    1   1
18  Fire       2200      2299  1    1  1    1   1
19  Fire       2300      2399  1    1  1    1   1
20  Fire       2400      2499  1    1  1    1   1
21  Fire       2500      2599  1    1  1    1   1
22  Fire       2600      2699  1    1  1    1   1
23  Fire       2700      2799  1    1  1    1   1
24  Fire       2800      2899  1    1  1    1   1
25  Fire       2900      2999  1    1  1    1   1
26  Fire       3000      3099  1    1  1    1   1
27  Fire       3100      3199  1    1  1    1   1
28  Fire       3200      3299  1    1  1    1   1
29  Fire       3300      3399  1    1  1    1   1
30  Fire       3400      3499  1    1  1    1   1
31  Fire       3500      3599  1    1  1    1   1
32  Fire       3600      3699  1    1  1    1   1
33  Fire       3700      3799  1    1  1    1   1
34  Fire       3800      3899  1    1  1    1   1
35  Fire       3900      3999  1    1  1    1   1
36  Fire       4000      4099  1    1  1    1   1
37  Fire       4100      4199  1    1  1    1   1
38  Fire       4200      4299  1    1  1    1   1
39  Fire       4300      4399  1    1  1    1   1
40  Fire       4400      4499  1    1  1    1   1
41  Fire       4500      4599  1    1  1    1   1
42  Fire       4600      4699  1    1  1    1   1
43  Fire       4700      4799  1    1  1    1   1
44  Fire       4800      4899  1    1  1    1   1
45  Fire       4900      4999  1    1  1    1   1
46  Fire       5000      5499  1    1  1    1   1
47  Fire       5500      5999  1    1  1    1   1
48  Fire       6000      6499  1    1  1    1   1
49  Fire       6500      6999  1    1  1    1   1
50  Fire       7000      7499  1    1  1    1   1
51  Fire       7500      9999  1    1  1    1   1
52  Fire      10000    >10000  1    1  1    1   1

In [36]:
liability = pd.concat([sq_ft, ones_df], axis=1)

liability.insert(0, 'Peril', 'Liability')
liability

        Peril  Min sq ft Max sq ft  1  1.5  2  2.5  3+
0   Liability          0       499  1    1  1    1   1
1   Liability        500       599  1    1  1    1   1
2   Liability        600       699  1    1  1    1   1
3   Liability        700       799  1    1  1    1   1
4   Liability        800       899  1    1  1    1   1
5   Liability        900       999  1    1  1    1   1
6   Liability       1000      1099  1    1  1    1   1
7   Liability       1100      1199  1    1  1    1   1
8   Liability       1200      1299  1    1  1    1   1
9   Liability       1300      1399  1    1  1    1   1
10  Liability       1400      1499  1    1  1    1   1
11  Liability       1500      1599  1    1  1    1   1
12  Liability       1600      1699  1    1  1    1   1
13  Liability       1700      1799  1    1  1    1   1
14  Liability       1800      1899  1    1  1    1   1
15  Liability       1900      1999  1    1  1    1   1
16  Liability       2000      2099  1    1  1    1   1
17  Liability       2100      2199  1    1  1    1   1
18  Liability       2200      2299  1    1  1    1   1
19  Liability       2300      2399  1    1  1    1   1
20  Liability       2400      2499  1    1  1    1   1
21  Liability       2500      2599  1    1  1    1   1
22  Liability       2600      2699  1    1  1    1   1
23  Liability       2700      2799  1    1  1    1   1
24  Liability       2800      2899  1    1  1    1   1
25  Liability       2900      2999  1    1  1    1   1
26  Liability       3000      3099  1    1  1    1   1
27  Liability       3100      3199  1    1  1    1   1
28  Liability       3200      3299  1    1  1    1   1
29  Liability       3300      3399  1    1  1    1   1
30  Liability       3400      3499  1    1  1    1   1
31  Liability       3500      3599  1    1  1    1   1
32  Liability       3600      3699  1    1  1    1   1
33  Liability       3700      3799  1    1  1    1   1
34  Liability       3800      3899  1    1  1    1   1
35  Liability       3900      3999  1    1  1    1   1
36  Liability       4000      4099  1    1  1    1   1
37  Liability       4100      4199  1    1  1    1   1
38  Liability       4200      4299  1    1  1    1   1
39  Liability       4300      4399  1    1  1    1   1
40  Liability       4400      4499  1    1  1    1   1
41  Liability       4500      4599  1    1  1    1   1
42  Liability       4600      4699  1    1  1    1   1
43  Liability       4700      4799  1    1  1    1   1
44  Liability       4800      4899  1    1  1    1   1
45  Liability       4900      4999  1    1  1    1   1
46  Liability       5000      5499  1    1  1    1   1
47  Liability       5500      5999  1    1  1    1   1
48  Liability       6000      6499  1    1  1    1   1
49  Liability       6500      6999  1    1  1    1   1
50  Liability       7000      7499  1    1  1    1   1
51  Liability       7500      9999  1    1  1    1   1
52  Liability      10000    >10000  1    1  1    1   1

In [37]:
data = pd.read_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\Book1.csv")

In [38]:
sq_ftxnum_stories = pd.concat([other_perils, fire, liability, data], ignore_index= True)

In [39]:
sq_ftxnum_stories

            Peril  Min sq ft Max sq ft    1  1.5      2    2.5     3+
0    Other Perils          0       499  1.0  1.0  1.000  1.000  1.000
1    Other Perils        500       599  1.0  1.0  1.000  1.000  1.000
2    Other Perils        600       699  1.0  1.0  1.000  1.000  1.000
3    Other Perils        700       799  1.0  1.0  1.000  1.000  1.000
4    Other Perils        800       899  1.0  1.0  1.000  1.000  1.000
..            ...        ...       ...  ...  ...    ...    ...    ...
525    Earthquake       6000      6499  1.0  1.0  1.766  1.766  1.766
526    Earthquake       6500      6999  1.0  1.0  1.766  1.766  1.766
527    Earthquake       7000      7499  1.0  1.0  1.766  1.766  1.766
528    Earthquake       7500      9999  1.0  1.0  1.766  1.766  1.766
529    Earthquake      10000    >10000  1.0  1.0  1.766  1.766  1.766

[530 rows x 8 columns]

In [40]:
sq_ftxnum_stories .to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Owner\\23_sq_ftxnum_stories.csv", index=False)