In [6]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.1532, 1.1532, 1.1532, 1.1532, 1.1532],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.1532, 1.1532, 1.1532, 1.1532, 1.1532],
    'Detached': [1.1532, 1.1532, 1.1532, 1.1532, 1.1532],
    'None': [1.1532, 1.1532, 1.1532, 1.1532, 1.1532]
}

# Create DataFrame
df_Other_Perils = pd.DataFrame(data)

df_Other_Perils.insert(0, 'Peril', ['Other Perils'] * len(df_Other_Perils))

df_Other_Perils

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Other Perils,1 Car,1.0,1.1532,1.0,1.1532,1.1532,1.1532
1,Other Perils,1.5 Car,1.0,1.1532,1.0,1.1532,1.1532,1.1532
2,Other Perils,2 Car,1.0,1.1532,1.0,1.1532,1.1532,1.1532
3,Other Perils,2.5 Car,1.0,1.1532,1.0,1.1532,1.1532,1.1532
4,Other Perils,3+ Car,1.0,1.1532,1.0,1.1532,1.1532,1.1532

In [7]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Fire = pd.DataFrame(data)

df_Fire.insert(0, 'Peril', ['Fire'] * len(df_Fire))

df_Fire

  Peril Garage Size  Attached  Basement  Built-In  Carport  Detached  None
0  Fire       1 Car       1.0       1.0       1.0      1.0       1.0   1.0
1  Fire     1.5 Car       1.0       1.0       1.0      1.0       1.0   1.0
2  Fire       2 Car       1.0       1.0       1.0      1.0       1.0   1.0
3  Fire     2.5 Car       1.0       1.0       1.0      1.0       1.0   1.0
4  Fire      3+ Car       1.0       1.0       1.0      1.0       1.0   1.0

In [8]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
   'Attached': [1.0000, 1.0000, 1.1288, 1.1288, 1.3677],
    'Basement': [1.1288, 1.1288, 1.1288, 1.1288, 1.1288],
    'Built-In': [1.0000, 1.0000, 1.1288, 1.1288, 1.3677],
    'Carport': [1.1288, 1.1288, 1.1288, 1.1288, 1.1288],
    'Detached': [1.1288, 1.1288, 1.1288, 1.1288, 1.1288],
    'None': [1.1288, 1.1288, 1.1288, 1.1288, 1.1288]
}

# Create DataFrame
df_Other_Wind_and_Hail = pd.DataFrame(data)

df_Other_Wind_and_Hail.insert(0, 'Peril', ['Other Wind and Hail'] * len(df_Other_Wind_and_Hail))

df_Other_Wind_and_Hail

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Other Wind and Hail,1 Car,1.0000,1.1288,1.0000,1.1288,1.1288,1.1288
1,Other Wind and Hail,1.5 Car,1.0000,1.1288,1.0000,1.1288,1.1288,1.1288
2,Other Wind and Hail,2 Car,1.1288,1.1288,1.1288,1.1288,1.1288,1.1288
3,Other Wind and Hail,2.5 Car,1.1288,1.1288,1.1288,1.1288,1.1288,1.1288
4,Other Wind and Hail,3+ Car,1.3677,1.1288,1.3677,1.1288,1.1288,1.1288

In [9]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
   'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0988],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0988],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0988],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Theft = pd.DataFrame(data)

df_Theft.insert(0, 'Peril', ['Theft'] * len(df_Theft))

df_Theft

   Peril Garage Size  Attached  Basement  Built-In  Carport  Detached  None
0  Theft       1 Car    1.0000    1.0000    1.0000      1.0       1.0   1.0
1  Theft     1.5 Car    1.0000    1.0000    1.0000      1.0       1.0   1.0
2  Theft       2 Car    1.0000    1.0000    1.0000      1.0       1.0   1.0
3  Theft     2.5 Car    1.0000    1.0000    1.0000      1.0       1.0   1.0
4  Theft      3+ Car    1.0988    1.0988    1.0988      1.0       1.0   1.0

In [10]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Water = pd.DataFrame(data)

df_Water.insert(0, 'Peril', ['Water'] * len(df_Water))

df_Water

   Peril Garage Size  Attached  Basement  Built-In  Carport  Detached  None
0  Water       1 Car       1.0       1.0       1.0      1.0       1.0   1.0
1  Water     1.5 Car       1.0       1.0       1.0      1.0       1.0   1.0
2  Water       2 Car       1.0       1.0       1.0      1.0       1.0   1.0
3  Water     2.5 Car       1.0       1.0       1.0      1.0       1.0   1.0
4  Water      3+ Car       1.0       1.0       1.0      1.0       1.0   1.0

In [11]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Liability = pd.DataFrame(data)

df_Liability.insert(0, 'Peril', ['Liability'] * len(df_Liability))

df_Liability

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Liability,1 Car,1.0,1.0,1.0,1.0,1.0,1.0
1,Liability,1.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
2,Liability,2 Car,1.0,1.0,1.0,1.0,1.0,1.0
3,Liability,2.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
4,Liability,3+ Car,1.0,1.0,1.0,1.0,1.0,1.0

In [12]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [0.9629, 0.9629, 0.9629, 0.9629, 0.9629],
    'Built-In': [0.9629, 0.9629, 0.9629, 0.9629, 0.9629],
    'Carport': [0.9787, 0.9787, 0.9787, 0.9787, 0.9787],
    'Detached': [0.9629, 0.9629, 0.9629, 0.9629, 0.9629],
    'None': [0.9629, 0.9629, 0.9629, 0.9629, 0.9629]
}

# Create DataFrame
df_Hurricane = pd.DataFrame(data)

df_Hurricane.insert(0, 'Peril', ['Hurricane'] * len(df_Hurricane))

df_Hurricane

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Hurricane,1 Car,1.0,0.9629,0.9629,0.9787,0.9629,0.9629
1,Hurricane,1.5 Car,1.0,0.9629,0.9629,0.9787,0.9629,0.9629
2,Hurricane,2 Car,1.0,0.9629,0.9629,0.9787,0.9629,0.9629
3,Hurricane,2.5 Car,1.0,0.9629,0.9629,0.9787,0.9629,0.9629
4,Hurricane,3+ Car,1.0,0.9629,0.9629,0.9787,0.9629,0.9629

In [13]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Severe_Thunderstorm = pd.DataFrame(data)

df_Severe_Thunderstorm.insert(0, 'Peril', ['Severe Thunderstorm'] * len(df_Severe_Thunderstorm))

df_Severe_Thunderstorm

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Severe Thunderstorm,1 Car,1.0,1.0,1.0,1.0,1.0,1.0
1,Severe Thunderstorm,1.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
2,Severe Thunderstorm,2 Car,1.0,1.0,1.0,1.0,1.0,1.0
3,Severe Thunderstorm,2.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
4,Severe Thunderstorm,3+ Car,1.0,1.0,1.0,1.0,1.0,1.0

In [15]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Winter_Storm = pd.DataFrame(data)

df_Winter_Storm.insert(0, 'Peril', ['Winter Storm'] * len(df_Winter_Storm))

df_Winter_Storm

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Winter Storm,1 Car,1.0,1.0,1.0,1.0,1.0,1.0
1,Winter Storm,1.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
2,Winter Storm,2 Car,1.0,1.0,1.0,1.0,1.0,1.0
3,Winter Storm,2.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
4,Winter Storm,3+ Car,1.0,1.0,1.0,1.0,1.0,1.0

In [20]:
import pandas as pd

# Data provided by the user
data = {
    'Garage Size': ['1 Car', '1.5 Car', '2 Car', '2.5 Car', '3+ Car'],
    'Attached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Basement': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Built-In': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Carport': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Detached': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'None': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create DataFrame
df_Earthquake = pd.DataFrame(data)

df_Earthquake.insert(0, 'Peril', ['Earthquake'] * len(df_Earthquake))

df_Earthquake

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Earthquake,1 Car,1.0,1.0,1.0,1.0,1.0,1.0
1,Earthquake,1.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
2,Earthquake,2 Car,1.0,1.0,1.0,1.0,1.0,1.0
3,Earthquake,2.5 Car,1.0,1.0,1.0,1.0,1.0,1.0
4,Earthquake,3+ Car,1.0,1.0,1.0,1.0,1.0,1.0

In [22]:
df_Garage = pd.concat([df_Other_Perils, df_Fire, df_Other_Wind_and_Hail,
df_Theft, df_Water, df_Liability,
df_Hurricane, df_Severe_Thunderstorm, df_Winter_Storm, df_Earthquake], ignore_index= True)

In [23]:
df_Garage

,Peril,Garage Size,Attached,Basement,Built-In,Carport,Detached,None
0,Other Perils,1 Car,1.0000,1.1532,1.0000,1.1532,1.1532,1.1532
1,Other Perils,1.5 Car,1.0000,1.1532,1.0000,1.1532,1.1532,1.1532
2,Other Perils,2 Car,1.0000,1.1532,1.0000,1.1532,1.1532,1.1532
3,Other Perils,2.5 Car,1.0000,1.1532,1.0000,1.1532,1.1532,1.1532
4,Other Perils,3+ Car,1.0000,1.1532,1.0000,1.1532,1.1532,1.1532
5,Fire,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
6,Fire,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
7,Fire,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
8,Fire,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
9,Fire,3+ Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
10,Other Wind and Hail,1 Car,1.0000,1.1288,1.0000,1.1288,1.1288,1.1288
11,Other Wind and Hail,1.5 Car,1.0000,1.1288,1.0000,1.1288,1.1288,1.1288
12,Other Wind and Hail,2 Car,1.1288,1.1288,1.1288,1.1288,1.1288,1.1288
13,Other Wind and Hail,2.5 Car,1.1288,1.1288,1.1288,1.1288,1.1288,1.1288
14,Other Wind and Hail,3+ Car,1.3677,1.1288,1.3677,1.1288,1.1288,1.1288
15,Theft,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
16,Theft,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
17,Theft,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
18,Theft,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
19,Theft,3+ Car,1.0988,1.0988,1.0988,1.0000,1.0000,1.0000
20,Water,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
21,Water,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
22,Water,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
23,Water,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
24,Water,3+ Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
25,Liability,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
26,Liability,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
27,Liability,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
28,Liability,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
29,Liability,3+ Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
30,Hurricane,1 Car,1.0000,0.9629,0.9629,0.9787,0.9629,0.9629
31,Hurricane,1.5 Car,1.0000,0.9629,0.9629,0.9787,0.9629,0.9629
32,Hurricane,2 Car,1.0000,0.9629,0.9629,0.9787,0.9629,0.9629
33,Hurricane,2.5 Car,1.0000,0.9629,0.9629,0.9787,0.9629,0.9629
34,Hurricane,3+ Car,1.0000,0.9629,0.9629,0.9787,0.9629,0.9629
35,Severe Thunderstorm,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
36,Severe Thunderstorm,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
37,Severe Thunderstorm,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
38,Severe Thunderstorm,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
39,Severe Thunderstorm,3+ Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
40,Winter Storm,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
41,Winter Storm,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
42,Winter Storm,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
43,Winter Storm,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
44,Winter Storm,3+ Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
45,Earthquake,1 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
46,Earthquake,1.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
47,Earthquake,2 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
48,Earthquake,2.5 Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
49,Earthquake,3+ Car,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000

In [24]:
df_Garage.to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Owner\\26_Garage.csv", index=False)