In [2]:
import PyPDF2
import re
import numpy as np
import pandas as pd

# Function to extract specific lines from a given page number
def extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line):
    with open(pdf_path, 'rb') as file:
        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfReader(file)
        
        # Check if the page number is within the range
        if page_number < len(pdf_reader.pages):
            # Extract text from the specific page
            page = pdf_reader.pages[page_number]
            text = page.extract_text()
            
            # Split the text into lines
            lines = text.split('\n')
            
            # Get the desired lines (adjusting for zero-based indexing)
            if len(lines) >= end_line:
                return lines[start_line-1:end_line]
            else:
                return "Page does not contain enough lines."
        else:
            return "Page number is out of range."


def convert_to_numeric(input_list):
    numeric_list = []
    for item in input_list:
        try:
            numeric_list.append(float(item))  # Attempt to convert to float
        except ValueError:
            continue  # Skip if conversion fails
    return numeric_list

In [8]:
age_of_home_table = pd.DataFrame()

for page_number in range(30, 35):
    # Define start_line and end_line, modify these if necessary
    start_line = 12
    end_line = 28
    
    # Extract specific lines from the page
    specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)

    data_values = ' '.join(specific_lines).split()

    #data_values = convert_to_numeric(data_values)

    data_values = np.array(data_values)

    data_values = np.reshape(data_values, (-1, 11))

    data_values = pd.DataFrame(data_values)

    
    # Append the data to the main DataFrame
    age_of_home_table = age_of_home_table._append(data_values, ignore_index=True)

# Display the final DataFrame
age_of_home_table

,0,1,2,3,4,5,6,7,8,9,10
0,0,0.3843,0.4893,0.2785,0.8313,0.1762,0.8115,0.6960,0.4969,1.0000,1.0000
1,1,0.4689,0.5025,0.2785,0.8370,0.2248,0.8115,0.6960,0.4969,1.0000,1.0332
2,2,0.5267,0.5160,0.3525,0.8427,0.2848,0.8115,0.6960,0.5168,1.0000,1.0664
3,3,0.5721,0.5298,0.4432,0.8485,0.3450,0.8115,0.6960,0.5934,1.0000,1.0996
4,4,0.6099,0.5440,0.5382,0.8543,0.4031,0.8115,0.6960,0.6697,1.0000,1.1328
...,...,...,...,...,...,...,...,...,...,...,...
80,80,1.3319,1.4107,0.9219,1.4374,0.7541,1.2113,1.0000,0.9481,1.0000,2.4379
81,81,1.3319,1.4107,0.9219,1.4374,0.7471,1.2113,1.0000,0.9481,1.0000,2.4379
82,82,1.3319,1.4107,0.9219,1.4374,0.7400,1.2113,1.0000,0.9481,1.0000,2.4379
83,83,1.3319,1.4107,0.9219,1.4374,0.7330,1.2113,1.0000,0.9481,1.0000,2.4379
84,84,1.3319,1.4107,0.9219,1.4374,0.7260,1.2113,1.0000,0.9481,1.0000,2.4379

In [11]:
pdf_path = 'D:\\LSU\\Research\\wind_ins\\USAA-134022151\\Rate-Rule Attachments\\LA Rate Pages - Part 2.pdf'  
page_number = 35
start_line = 12
end_line = 27
specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)

data_values = ' '.join(specific_lines).split()

#data_values = convert_to_numeric(data_values)

data_values = np.array(data_values)

data_values = np.reshape(data_values, (-1, 11))

data_values = pd.DataFrame(data_values)

data_values

,0,1,2,3,4,5,6,7,8,9,10
0,85,1.3319,1.4107,0.9219,1.4374,0.7191,1.2113,1.0000,0.9481,1.0000,2.4379
1,86,1.3319,1.4107,0.9219,1.4374,0.7122,1.2113,1.0000,0.9481,1.0000,2.4379
2,87,1.3319,1.4107,0.9219,1.4374,0.7053,1.2113,1.0000,0.9481,1.0000,2.4379
3,88,1.3319,1.4107,0.9219,1.4374,0.6985,1.2113,1.0000,0.9481,1.0000,2.4379
4,89,1.3319,1.4107,0.9219,1.4374,0.6917,1.2113,1.0000,0.9481,1.0000,2.4379
5,90,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
6,91,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
7,92,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
8,93,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
9,94,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
10,95,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
11,96,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
12,97,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
13,98,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
14,99,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
15,100+,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379

In [12]:
age_of_home_table = pd.concat([age_of_home_table, data_values], ignore_index=True)

# Define the column names
age_of_home_table.columns = ['Dwelling Age', 'Other Perils', 'Fire', 'Other Wind and Hail', 'Theft', 'Water',
           'Liability', 'Hurricane', 'Severe Thunderstorm', 'Winter Storm', 'Earthquake']

age_of_home_table

,Dwelling Age,Other Perils,Fire,Other Wind and Hail,Theft,Water,Liability,Hurricane,Severe Thunderstorm,Winter Storm,Earthquake
0,0,0.3843,0.4893,0.2785,0.8313,0.1762,0.8115,0.6960,0.4969,1.0000,1.0000
1,1,0.4689,0.5025,0.2785,0.8370,0.2248,0.8115,0.6960,0.4969,1.0000,1.0332
2,2,0.5267,0.5160,0.3525,0.8427,0.2848,0.8115,0.6960,0.5168,1.0000,1.0664
3,3,0.5721,0.5298,0.4432,0.8485,0.3450,0.8115,0.6960,0.5934,1.0000,1.0996
4,4,0.6099,0.5440,0.5382,0.8543,0.4031,0.8115,0.6960,0.6697,1.0000,1.1328
...,...,...,...,...,...,...,...,...,...,...,...
96,96,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
97,97,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
98,98,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
99,99,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379
100,100+,1.3319,1.4107,0.9219,1.4374,0.6850,1.2113,1.0000,0.9481,1.0000,2.4379

In [13]:
age_of_home_table.to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Owner\\10_age_of_home.csv", index=False)